
body {
    margin: 0;
    padding: 0;
}


.main-container {
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    
}

.left {
    background-image: url('img/background.png');
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    font-size: 40px;
    font-style: italic;
    color: white;
    text-shadow: black;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}


.right {
    display: flex;
    flex-direction: column;
    background-color: #f0f3f7; 
    width: 65vw;

}


#intro {
    height: 30vh;
    font-size: larger;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 5%;
}

.subscribe {
    height:  40vh;
    background-color: white;
}

#letsgo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.form-main {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    width: 60%;
    justify-content: space-between;
}

.form-divs {
    
    

}

.form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input {
    width: 200px;
    border: 1px solid #ced1d5;
    height: 25px;
    border-radius: 5px;

}

input:focus {
    border: 1px solid #139aa7;

}

input:invalid {
    border: 1px solid rgb(189, 4, 4)
}

#error {
    color: rgb(189, 4, 4)
    
}


.create-account {
    height:  30vh;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    
    
    
}

.btn-submit {
    width: 200px;
    background-color: #7ddfe8;
    color: white;
    border: 1px solid black;
    height: 25px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
}

