
body {
    margin: 0;
    padding: 0;
}


.main-container {
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    
}

.left {
    background-image: url('img/background.png');
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;

}


.right {
    display: flex;
    flex-direction: column;
    background-color: #f0f3f7; 
    width: 65vw;

}



#intro {
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5%;


}

.subscribe {
    height:  30vh;
    background-color: white;

}

#letsgo {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.form-main {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    width: 60%;
    justify-content: space-between;

}

.form-divs {
    
    

}

.form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input {
    width: 200px;
    border: 1px solid #ced1d5;
    height: 25px;
    border-radius: 5px;

}

input:focus {
    border: 1px solid #139aa7;

}

input:invalid {
    border: 1px solid red
}


.create-account {
    height:  30vh;
    
}

